{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    {% if buysuccess == "True" %}
    <div class="form-group alert alert-primary" role="alert">
        Bought.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
{% endblock %}
