{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/settings" method="post">
        <div class="form-group">
            <p>Username - {{usertochangepassword[0].username}}</p>
        </div>
        <div class="form-group">
            <input name="oldpassword" placeholder="OldPassword" type="password">
        </div>
        <div class="form-group">
            <input name="newpassword" placeholder="NewPassword" type="password">
        </div>
        <div class="form-group">
            <input name="newconfirmation" placeholder="ConfirmNewPassword" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}